
/* SECCION OMS RECURSOS DESCARGABLES */
.seccion-oms {
    text-align: center;
    border-radius: 17px;
    background: #E4E4E4;   
    justify-content: space-evenly; 
}
#seccion-oms a {
    color: rgb(89, 89, 89);
    display: block;
  text-decoration: none; 
  margin: 10px; 
  margin: 20px 20px;
  background-color: #eae9e9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(177, 177, 177, 0.48) 6px 2px 16px 0px, rgba(88, 88, 88, 0.8) -6px -2px 16px 0px;

  
}


#seccion-oms h6 {
  font-weight: bold; /* Aplica negrita (bold) a los elementos h6 */
}

